## Flight Price Predection

In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
df = pd.read_excel('flight_price.xlsx')

In [69]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [71]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [72]:
# Feature engine for Date of Journey
df['date']= df['Date_of_Journey'].str.split('/').str[0]
df['month']= df['Date_of_Journey'].str.split('/').str[1]
df['year']= df['Date_of_Journey'].str.split('/').str[2]

In [73]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019

In [74]:
# Converting date,month,year(object) into numerical value(int)
df['date']= df['date'].astype(int)
df['month']= df['month'].astype(int)
df['year']= df['year'].astype(int)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  date             10683 non-null  int32
 12  month            10683 non-null  int32
 13  year             10683 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [76]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [77]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split()[0])

In [78]:
# Feature engine for Arrival time seprating hour and minute
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_minute']=df['Arrival_Time'].str.split(':').str[1]

In [79]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_hour,Arrival_minute
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [80]:
# Feature engine for dep time seprating hour and minute
df['Dep_hour']=df['Dep_Time'].str.split(':').str[0]
df['Dep_minute']=df['Dep_Time'].str.split(':').str[1]

In [81]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15,05,50

In [82]:
# Converting Object to int
df['Arrival_hour']= df['Arrival_hour'].astype(int)
df['Arrival_minute']= df['Arrival_minute'].astype(int)
df['Dep_hour']= df['Dep_hour'].astype(int)
df['Dep_minute']= df['Dep_minute'].astype(int)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  date             10683 non-null  int32
 12  month            10683 non-null  int32
 13  year             10683 non-null  int32
 14  Arrival_hour     10683 non-null  int32
 15  Arrival_minute   10683 non-null  int32
 16  Dep_hour         10683 non-null  int32
 17  Dep_minute       10683 non-null  int32
dtypes: int32(7), int64(1), object(10)
memory usage: 1.2+ MB

In [84]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [85]:
# Converting 'Total stops' from object to int and removing NaN value from it
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [86]:
df['Total_Stops'].isnull().sum()

1

In [87]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [88]:
df['Total_Stops']= df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,np.nan:1})

In [89]:
df['Total_Stops'].isnull().sum()

0

In [90]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302,1,3,2019,21,35,16,50

In [91]:
# Feature Engine for  duration
df['Duration'].mode()

0    2h 50m
Name: Duration, dtype: object

In [92]:
df['Duration'].isnull().sum()

0

In [96]:
def split_duration(duration):
    duration = duration.strip().split(' ')
    if len(duration)==1:
        hour = duration[0].replace('h','') if 'h' in duration[0] else 0
        min = duration[0].replace('m','') if 'm' in duration[0] else 0
    if len(duration)==2:
        hour = duration[0].replace('h','') if 'h' in duration[0] else 0
        min = duration[1].replace('m','') if 'm' in duration[1] else 0
            


    return int(hour),int(min)

print(split_duration("5m"))

[0, 5]

In [98]:
df[['Duration_hour','Duration_minute']]= df['Duration'].apply(split_duration).apply(pd.Series)

In [99]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hour,Duration_minute
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662,1,5,2019,13,15,5,50,7,25

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10683 non-null  int64
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  date             10683 non-null  int32
 12  month            10683 non-null  int32
 13  year             10683 non-null  int32
 14  Arrival_hour     10683 non-null  int32
 15  Arrival_minute   10683 non-null  int32
 16  Dep_hour         10683 non-null  int32
 17  Dep_minute       10683 non-null  int32
 18  Duration_hour    10683 non-null  int64
 19  Duration_minute  10683 non-null  int64
dtypes: int32(7), int64(4), object(9)
memory usage: 1.3+ MB

In [101]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [102]:
df['Additional_Info'].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [103]:
from sklearn.preprocessing import OneHotEncoder

In [104]:
encoder = OneHotEncoder()

In [105]:
encoder.fit_transform(df[['Airline','Source','Destination']]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [106]:
encoded_df = pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination']]).toarray(),columns=encoder.get_feature_names_out())

In [107]:
df = pd.concat([df,encoded_df],axis=1)

In [108]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 43 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Airline                                    10683 non-null  object
 1   Date_of_Journey                            10683 non-null  object
 2   Source                                     10683 non-null  object
 3   Destination                                10683 non-null  object
 4   Route                                      10682 non-null  object
 5   Dep_Time                                   10683 non-null  object
 6   Arrival_Time                               10683 non-null  object
 7   Duration                                   10683 non-null  object
 8   Total_Stops                                10683 non-null  int64
 9   Additional_Info                            10683 non-null  object
 10  Price                                      10683 non-null  int64
 11  date                                       10683 non-null  int32
 12  month                                      10683 non-null  int32
 13  year                                       10683 non-null  int32
 14  Arrival_hour                               10683 non-null  int32
 15  Arrival_minute                             10683 non-null  int32
 16  Dep_hour                                   10683 non-null  int32
 17  Dep_minute                                 10683 non-null  int32
 18  Duration_hour                              10683 non-null  int64
 19  Duration_minute                            10683 non-null  int64
 20  Airline_Air Asia                           10683 non-null  float64
 21  Airline_Air India                          10683 non-null  float64
 22  Airline_GoAir                              10683 non-null  float64
 23  Airline_IndiGo                             10683 non-null  float64
 24  Airline_Jet Airways                        10683 non-null  float64
 25  Airline_Jet Airways Business               10683 non-null  float64
 26  Airline_Multiple carriers                  10683 non-null  float64
 27  Airline_Multiple carriers Premium economy  10683 non-null  float64
 28  Airline_SpiceJet                           10683 non-null  float64
 29  Airline_Trujet                             10683 non-null  float64
 30  Airline_Vistara                            10683 non-null  float64
 31  Airline_Vistara Premium economy            10683 non-null  float64
 32  Source_Banglore                            10683 non-null  float64
 33  Source_Chennai                             10683 non-null  float64
 34  Source_Delhi                               10683 non-null  float64
 35  Source_Kolkata                             10683 non-null  float64
 36  Source_Mumbai                              10683 non-null  float64
 37  Destination_Banglore                       10683 non-null  float64
 38  Destination_Cochin                         10683 non-null  float64
 39  Destination_Delhi                          10683 non-null  float64
 40  Destination_Hyderabad                      10683 non-null  float64
 41  Destination_Kolkata                        10683 non-null  float64
 42  Destination_New Delhi                      10683 non-null  float64
dtypes: float64(23), int32(7), int64(4), object(9)
memory usage: 3.2+ MB

In [110]:
encoder = OneHotEncoder()

In [111]:
encoder.fit_transform(df[['Additional_Info']]).toarray()

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [112]:
encoded_df = pd.DataFrame(encoder.fit_transform(df[['Additional_Info']]).toarray(),columns=encoder.get_feature_names_out())

In [113]:
df = pd.concat([df,encoded_df],axis=1)

In [114]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 53 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Airline                                       10683 non-null  object
 1   Date_of_Journey                               10683 non-null  object
 2   Source                                        10683 non-null  object
 3   Destination                                   10683 non-null  object
 4   Route                                         10682 non-null  object
 5   Dep_Time                                      10683 non-null  object
 6   Arrival_Time                                  10683 non-null  object
 7   Duration                                      10683 non-null  object
 8   Total_Stops                                   10683 non-null  int64
 9   Additional_Info                               10683 non-null  object
 10  Price                                         10683 non-null  int64
 11  date                                          10683 non-null  int32
 12  month                                         10683 non-null  int32
 13  year                                          10683 non-null  int32
 14  Arrival_hour                                  10683 non-null  int32
 15  Arrival_minute                                10683 non-null  int32
 16  Dep_hour                                      10683 non-null  int32
 17  Dep_minute                                    10683 non-null  int32
 18  Duration_hour                                 10683 non-null  int64
 19  Duration_minute                               10683 non-null  int64
 20  Airline_Air Asia                              10683 non-null  float64
 21  Airline_Air India                             10683 non-null  float64
 22  Airline_GoAir                                 10683 non-null  float64
 23  Airline_IndiGo                                10683 non-null  float64
 24  Airline_Jet Airways                           10683 non-null  float64
 25  Airline_Jet Airways Business                  10683 non-null  float64
 26  Airline_Multiple carriers                     10683 non-null  float64
 27  Airline_Multiple carriers Premium economy     10683 non-null  float64
 28  Airline_SpiceJet                              10683 non-null  float64
 29  Airline_Trujet                                10683 non-null  float64
 30  Airline_Vistara                               10683 non-null  float64
 31  Airline_Vistara Premium economy               10683 non-null  float64
 32  Source_Banglore                               10683 non-null  float64
 33  Source_Chennai                                10683 non-null  float64
 34  Source_Delhi                                  10683 non-null  float64
 35  Source_Kolkata                                10683 non-null  float64
 36  Source_Mumbai                                 10683 non-null  float64
 37  Destination_Banglore                          10683 non-null  float64
 38  Destination_Cochin                            10683 non-null  float64
 39  Destination_Delhi                             10683 non-null  float64
 40  Destination_Hyderabad                         10683 non-null  float64
 41  Destination_Kolkata                           10683 non-null  float64
 42  Destination_New Delhi                         10683 non-null  float64
 43  Additional_Info_1 Long layover                10683 non-null  float64
 44  Additional_Info_1 Short layover               10683 non-null  float64
 45  Additional_Info_2 Long layover                10683 non-null  float64
 46  Additional_Info_Business class                10683 non-null  float64
 47  Additional_Info_Change airports               10683 non-null  float64
 48  Additional_Info_In-flight meal not included   10683 non-null  float64
 49  Additional_Info_No Info                       10683 non-null  float64
 50  Additional_Info_No check-in baggage included  10683 non-null  float64
 51  Additional_Info_No info                       10683 non-null  float64
 52  Additional_Info_Red-eye flight                10683 non-null  float64
dtypes: float64(33), int32(7), int64(4), object(9)
memory usage: 4.0+ MB

In [116]:
df.drop('Airline',axis=1,inplace=True)
df.drop('Date_of_Journey',axis=1,inplace=True)
df.drop('Source',axis=1,inplace=True)
df.drop('Destination',axis=1,inplace=True)
df.drop('Route',axis=1,inplace=True)
df.drop('Dep_Time',axis=1,inplace=True)
df.drop('Arrival_Time',axis=1,inplace=True)
df.drop('Duration',axis=1,inplace=True)
df.drop('Additional_Info',axis=1,inplace=True)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10683 non-null  int64
 1   Price                                         10683 non-null  int64
 2   date                                          10683 non-null  int32
 3   month                                         10683 non-null  int32
 4   year                                          10683 non-null  int32
 5   Arrival_hour                                  10683 non-null  int32
 6   Arrival_minute                                10683 non-null  int32
 7   Dep_hour                                      10683 non-null  int32
 8   Dep_minute                                    10683 non-null  int32
 9   Duration_hour                                 10683 non-null  int64
 10  Duration_minute                               10683 non-null  int64
 11  Airline_Air Asia                              10683 non-null  float64
 12  Airline_Air India                             10683 non-null  float64
 13  Airline_GoAir                                 10683 non-null  float64
 14  Airline_IndiGo                                10683 non-null  float64
 15  Airline_Jet Airways                           10683 non-null  float64
 16  Airline_Jet Airways Business                  10683 non-null  float64
 17  Airline_Multiple carriers                     10683 non-null  float64
 18  Airline_Multiple carriers Premium economy     10683 non-null  float64
 19  Airline_SpiceJet                              10683 non-null  float64
 20  Airline_Trujet                                10683 non-null  float64
 21  Airline_Vistara                               10683 non-null  float64
 22  Airline_Vistara Premium economy               10683 non-null  float64
 23  Source_Banglore                               10683 non-null  float64
 24  Source_Chennai                                10683 non-null  float64
 25  Source_Delhi                                  10683 non-null  float64
 26  Source_Kolkata                                10683 non-null  float64
 27  Source_Mumbai                                 10683 non-null  float64
 28  Destination_Banglore                          10683 non-null  float64
 29  Destination_Cochin                            10683 non-null  float64
 30  Destination_Delhi                             10683 non-null  float64
 31  Destination_Hyderabad                         10683 non-null  float64
 32  Destination_Kolkata                           10683 non-null  float64
 33  Destination_New Delhi                         10683 non-null  float64
 34  Additional_Info_1 Long layover                10683 non-null  float64
 35  Additional_Info_1 Short layover               10683 non-null  float64
 36  Additional_Info_2 Long layover                10683 non-null  float64
 37  Additional_Info_Business class                10683 non-null  float64
 38  Additional_Info_Change airports               10683 non-null  float64
 39  Additional_Info_In-flight meal not included   10683 non-null  float64
 40  Additional_Info_No Info                       10683 non-null  float64
 41  Additional_Info_No check-in baggage included  10683 non-null  float64
 42  Additional_Info_No info                       10683 non-null  float64
 43  Additional_Info_Red-eye flight                10683 non-null  float64
dtypes: float64(33), int32(7), int64(4)
memory usage: 3.3 MB

In [118]:
df.head()

,Total_Stops,Price,date,month,year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hour,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0,3897,24,3,2019,1,10,22,20,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,7662,1,5,2019,13,15,5,50,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2,13882,9,6,2019,4,25,9,25,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6218,12,5,2019,23,30,18,5,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,13302,1,3,2019,21,35,16,50,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0